# VMDb

It all started with a book. I wrote all content we watched since the pandemic (March 19th 2020). Here is how I built the SQL database where I stored and extracted the IMDb info from all titles we included on the list. This is still an ongoing project. The goal is to create a website where we can view, explore and add content to the ever-growing list.

## Sources

Main IMDb Python Module: https://imdbpy.readthedocs.io/en/latest/usage/index.html

In [ ]:
# SQL link
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine, text
# Data manipulation
import pandas as pd
import numpy as np
# IMDb module activation
import imdb
ia = imdb.Cinemagoer()
# Similarity check
from fuzzywuzzy import fuzz

## Link with SQL Database

In [ ]:
engine = sqlalchemy.create_engine('postgresql://postgres:password@localhost:8080/postgres')
%load_ext sql
%sql $engine.url

# Full Watchlist and IMDb link

## SQL Import

In [ ]:
fwl = pd.read_sql('''SELECT * FROM fwl order by id''', engine)

## Title match functions

In [ ]:
# Searches for "imdbid" from "title"
def search_id(row):
    search = ia.search_movie(row)
    for i in range(len(search)):
        choice = search[0].movieID
        return choice

# Gets title linked with "imdbid"
def search_title(mid):
    search = ia.get_movie(mid)
    return search['title']

# Gets kind linked with "imdbid"
def get_kind(id):
    movie = ia.get_movie(id)
    kind=movie.get('kind')
    return kind

### _Repeated for each increment of 25 rows_

In [ ]:
fwl = fwl[:25].copy()

## Process rows

In [ ]:
# Searches for imdbid from title
fwl['imdbid']=fwl['title'].apply(search_id)
# fill null values with stand-in
fwl['imdbid']= fwl['imdbid'].fillna(9114286)
# gets title from imdbid
fwl['imdbtitle'] = fwl['imdbid'].apply(search_title)
# gets kind from imdbid
fwl['imdbkind'] = fwl['imdbid'].apply(get_kind)
# measures similarities between title and imdbtitile
fwl['imdbtitle']=fwl['imdbtitle'].str.upper()
fwl['similarity'] = fwl.apply(lambda row: fuzz.token_set_ratio(row['title'], row['imdbtitle']), axis=1)

## Seperate matches from mismatches

In [ ]:
matches = fwl[fwl['similarity']==100]

In [ ]:
mismatches = fwl[fwl['similarity']<100]

## Import to SQL tables _matches_ and _mismatches_

In [ ]:
table_name = 'matches' 
matches.to_sql(table_name, engine, if_exists = 'append', index=False)

In [ ]:
table_name = 'mismatches'
mismatches.to_sql(table_name, engine, if_exists = 'append', index=False)

# Movies table creation

## Matches table seperation

Subset `movies` from `matches` based on `imdbkind`

In [ ]:
matches = pd.read_sql('''select * from matches''',engine)
movies = matches[matches['imdbkind']=='movie']
movies=movies[['imdbid','imdbtitle']]

## Movies table population

### Functions

In [ ]:
def get_year(id):
    movie = ia.get_movie(id)
    year = movie.get('year')
    return year

def get_rating(id):
    movie = ia.get_movie(id)
    rating=movie.get('rating')
    return rating

### Populate rows

In [ ]:
movies['releaseyear'] = movies['imdbid'].apply(get_year)
movies['rating'] = movies['imdbid'].apply(get_rating)

### Isolate unique entries

In [ ]:
duplicated = all_movies.duplicated(subset='imdbid',keep=False)
filtered_all_movies = all_movies[~duplicated]
filtered_all_movies

### Import to SQL table _movies_

In [ ]:
table_name = 'movies'
filtered_all_movies.to_sql(table_name, engine, if_exists = 'replace', index=False)

# Genre dimension table and treatment

## Function

Retreives `genre` based on `imdbid` from the `Cinemagoer` module

In [ ]:
def get_genre(id):
    movie = ia.get_movie(id)
    genre=movie.get('genre')
    return genre

## Get genres linked with imdbid

In [ ]:
sub['genre'] = sub['imdbid'].apply(get_genre)

Results yield list of genres per `imdbid`

## Explode genre row by imdbid

In [ ]:
sub = sub.explode('genre')

## First Import to SQL table _movies_genre_

In [ ]:
# Imports to SQL
table_name = 'movie_genres'
# appends subset to existing table
sub.to_sql(table_name, engine, if_exists = 'append', index=False)

## Isolate unique genres for dimension table

In [ ]:
# Create array
unique_genres = subsub['genre'].unique
# Convert to DataFrame
unique_genres = pd.DataFrame(unique_genres)

## Import to SQL table _genres_

In [ ]:
# Imports to SQL
table_name = 'genres'
# Replaces existing table
unique_genres.to_sql(table_name, engine, if_exists = 'replace', index=False)

`id` renamed to `genreid` as primary key in SQL

## Get *genres* and *movies_genre* tables from SQL

In [ ]:
genres = pd.read_sql('''select * from genres''',engine)
movies_genre = pd.read_sql(''' SELECT * FROM movie_genres''', engine)

## Merge _movie_genres_ with _genres_ dimension table

In [ ]:
mgs = mg.merge(genres, on='genre',how = 'left')
# Remove uneccesary column
mgs = mgs.drop('index',axis=1)

## Import to SQL table _movies_genre_

In [ ]:
table_name = 'movies_genre'
# Replaces existing table
mgs.to_sql(table_name, engine, if_exists = 'replace', index=False)

# Language dimension table and treatment

Preserved `sub` subset from

## Function

def get_languages(id):
    movie = ia.get_movie(id)
    language=movie.get('language')
    return language

In [ ]:
sub['language'] = sub['imdbid'].apply(get_languages)

Results yield list of languages per `imdbid`

## Explode language row by imdbid

In [ ]:
sub = sub.explode('languages')

## First Import to SQL table _movie_languages

In [ ]:
# Imports to SQL
table_name = 'movie_languages'
# appends sub to movie_languages
sub.to_sql(table_name, engine, if_exists = 'append', index=False)

## Isolate unique languages for dimension table

In [ ]:
# Create array
unique_languages = sub['language'].unique
# Convert to DataFrame
unique_languages = pd.DataFrame(unique_genres)

## Import to SQL table _languages_

In [ ]:
# Imports to SQL
table_name = 'languages'
# Replaces existing table
unique_languages.to_sql(table_name, engine, if_exists = 'replace', index=False)

`id` renamed to `languageid` as primary key in SQL

## Get *languages* and movie_languages tables from SQL

In [ ]:
languages = pd.read_sql('''select * from languages''',engine)
ml = pd.read_sql('''SELECT * FROM movie_languages''', engine)

## Merge *movie_languages* with *languages* dimension table

In [ ]:
mls = ml.merge(languages, on='language',how = 'left')
# Remove uneccesary column
mls = mls.drop('index',axis=1)

## Import to SQL table _movie_languages_

In [ ]:
table_name = 'movie_languages'
# Replaces existing table
mls.to_sql(table_name, engine, if_exists = 'replace', index=False)

# Compare Critereon Movie Collection to matches

Verifies if entry from `movies` table appears in `critereon`

Imported Dataset from [Kaggle](https://www.kaggle.com/datasets/ikarus777/criterion-movies-collection) into SQL table `critereon`

## Get Critereon SQL Table

In [ ]:
critereon = pd.read_sql('''select title from critereon''', engine)

## Searches imdbid by title

In [ ]:
critereon['imdbid'] = critereon['title'].apply(search_id)
critereon['imdbid']= critereon['imdbid'].fillna(9114286)
critereon['imdbid']= critereon['imdbid'].astype('int')

## Import to SQL table _critereon_match_

In [ ]:
table_name = 'id_critereon'
critereon.to_sql(table_name, engine, if_exists = 'append', index=False)

## Get _critereon_match_ table

In [ ]:
critereon_match = pd.read_sql('''select * from critereon_match''')

## Process rows

In [ ]:
critereon_match['imdbtitle'] = critereon_match['imdbid'].apply(search_title)
critereon_match['imdbtitle']=critereon_match['imdbtitle'].str.upper()
critereon_match['similarity'] = critereon_match.apply(lambda row: fuzz.token_set_ratio(row['title'], row['imdbtitle']), axis=1)
critereon_match = critereon_match[chunk['similarity']==100]
critereon_match

Only preserves rows with `similarity` score of `100`

## Import to SQL table critereon_match

In [ ]:
table_name = 'critereon_match'
critereon_match.to_sql(table_name, engine, if_exists = 'replace', index=False)

## Matched imdbids from _movies_ and _critereon_matches_

### In SQL GUI

` UPDATE movies 
SET is_critereon = 1  WHERE imdbid IN (SELECT imdbid FROM critereon_match)`

`UPDATE movies
SET is_critereon = 0 
WHERE is_critereon IS NULL`

If `imdbid` is in `critereon_match`, `is_critereon` is set to `1`. Otherwise, it's set to `0`

# IMDbID frequency table

## Counts frequency of _imdbids_

In [ ]:
# get the value counts
vc = imdbids['imdbid'].value_counts(ascending=False)

# convert to a DataFrame
mc = vc.reset_index()

# rename columns
mc.columns = ['imdbid', 'watch_count']

## Import to SQL

In [ ]:
table_name = 'media_count'
mc.to_sql(table_name, engine, if_exists = 'append', index=False)

# Clean _mismatches_ entries

### `mismatches` were cleaned in SQL

__If `similarity` > 92 and `similarity < 99`:__
- `title` changed to same as `imdbtitle`
- value of `similarity` changed to `100`
- row inserted to `matches`
- `ready` in `mismatches` set to `yes`

__If `similarity` < 92:__
- change `imdbid` to correct movie 
    1. search title on imdb.com 
    2. extract `imdbid` from url preceded by `tt`
    3. replace `imdbid` with new value
    4. change value of `ready` to `mod` to indicate the eventual insertion into `matches`
    5. imsert row into matches when `get_title` function is processed with new `imdbid` or `imdbtitle` is changed manually
        - Example: Original entry gave `24051278` as `imdbid`
        - found url from imdb: www.imdb.com/title/tt23219324/?ref_=fn_al_tt_1
        - the correct imdbid is 23219324

# Next Steps

- Create table scheme for each `imdbkind`
- In `movies`, process `countries` like `genres` and `languages`
- Finish clean `mismatches` table and transfer cleaned rows to `matches`
- Add cast and crew fact and dimension tables per imdbid
- Perform exploratory data analysis